<!DOCTYPE html> 
{% extends 'base_staff.html' %}
{% block title %}
  {% if is_edit %}Редактируем категорию{% else %}Создаем новую категорию{% endif %}
{% endblock %}
{% block content %}
  <body>	   
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}
                  Редактировать
                {% else %}
                  Новая категория
                {% endif %}         
              </div>
              {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert alert-danger" role="alert">
                  {{ field.label }}: {{ error|escape }}
                  </div>
                {% endfor %}
                {% endfor %}
              {% endif %}
              <div class="card-body">        
                {% if is_edit %}
                  <form method="post" enctype="multipart/form-data" 
                  action="{% url 'store:category_edit' category.id %}">
                {% else %}
                  <form method="post" enctype="multipart/form-data" 
                  action="{% url 'store:category_create' %}">
                {% endif %}
                  {% csrf_token %}
        
                  <div class="form-group row my-3 p-3">
                    <label for="id_text">
                      Категория                 
                      <span class="required text-danger" >*</span>                  
                    </label>
                    {{ form.title }}
                    <small id="id_text-help" class="form-text text-muted">
                      Название категории
                    </small>                  
                  </div>

                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Описание                
                    </label>
                    {{ form.description }}
                    <small id="id_group-help" class="form-text text-muted">
                      Описание категории
                    </small>
                  </div>

                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                     {% if is_edit %}Сохранить{% else %}Добавить{% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
{% endblock %}
</html>
